body {
  margin:0px;
  background-color:rgba(215, 116, 128, 0.2549019607843137);
  background-image:none;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(255, 254, 255, 0.996078431372549);
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:8px;
  width:105px;
  height:40px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:rgba(255, 254, 255, 0.996078431372549);
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:26px;
  width:74px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:26px;
  width:143px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:26px;
  width:39px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:26px;
  width:112px;
  height:22px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:27px;
  width:48px;
  height:20px;
  display:flex;
  font-family:"Comic Sans MS Полужирный", "Comic Sans MS Обычный", "Comic Sans MS", sans-serif;
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#333333;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:8px;
  width:92px;
  height:45px;
  display:flex;
  font-family:"Cooper Black", "Cooper", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:36px;
  color:#333333;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Lora", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:15px;
  width:100px;
  height:32px;
  display:flex;
  font-family:"Lora", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#333333;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:16px;
  width:1px;
  height:30px;
  display:flex;
  -webkit-transform:rotate(-0.3676126856265902deg);
  -moz-transform:rotate(-0.3676126856265902deg);
  -ms-transform:rotate(-0.3676126856265902deg);
  transform:rotate(-0.3676126856265902deg);
  font-family:"Arial Полужирный", "Arial Обычный", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:68px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:1200px;
  height:68px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
